body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding-top: 100px;
}

input {
  padding: 10px;
  width: 300px;
  border-radius: 6px;
  border: none;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background: #38bdf8;
  color: black;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

#result {
  margin-top: 20px;
}

